/* sudokuJS v0.4.4 - CSS
// https://github.com/pocketjoso/sudokuJS
// Author: Jonas Ohlsson
// License: MIT
*/
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  font-family: "Poppins";
}

span {
  position: absolute;
  top: 0;
}

.logo {
  font-family: 'Titillium Web', sans-serif;
  font-size: 5vw;
  text-align: center;
  line-height: 1;
  margin: 0;
  top: 0;
  right: 1rem;
  position: absolute;
  color: #2d2d2d;
  letter-spacing: -.5rem;
  -webkit-animation: flicker 3s linear infinite;
          animation: flicker 3s linear infinite;
}

@-webkit-keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

body {
  background-color: rgb(51, 51, 51) !important;
  color:rgb(209, 209, 209)!important;
  min-height: 100vh;
  background: url('../res/harpal-singh-eY9nCR7G0xw-unsplash.jpg') center center/cover no-repeat;
  overflow-x: hidden;
  background-attachment: fixed;
}
.containerForOverlay{
	position: absolute;
	min-height:100vh;
	min-width:99.5vw;
	background:rgba(0, 0, 0, 0.486);
}
.sudoku-board {
  min-height: 22.75rem;
  box-shadow: 0 0 5px #181aaf, 0 0 20px #181aaf, 0 0 90px #181aaf,
    0 0 100px #181aaf !important;
  margin-bottom: 1em;
}
/*cell (wrapper) contains both cell input and candidates div*/
.sudoku-board-cell {
  display: inline-block;
  position: relative;
  color: #fff;
  border: 1px solid rgb(233, 233, 233);
  background: none;
  box-shadow: 0 0 5px #181aaf, 0 0 5px #181aaf, 0 0 5px #181aaf,
    0 0 5px #181aaf !important;
  max-width: 11.11111%;
}
/*rules for drawing the black lines dividing houses
			-- specific for board size 9! need diff rules for diff board sizes
		*/
[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(9n + 1) {
  border-left-width: 2px;
  border-left-color: #808080;
}
[data-board-size="9"].sudoku-board
  .sudoku-board-cell:nth-of-type(n):nth-of-type(-n + 9) {
  border-top-width: 2px;
  border-top-color: #808080;
}
[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(3n) {
  border-right-width: 2px;
  border-right-color: #808080;
}
[data-board-size="9"].sudoku-board
  .sudoku-board-cell:nth-of-type(n + 19):nth-of-type(-n + 27),
[data-board-size="9"].sudoku-board
  .sudoku-board-cell:nth-of-type(n + 46):nth-of-type(-n + 54),
[data-board-size="9"].sudoku-board
  .sudoku-board-cell:nth-of-type(n + 73):nth-of-type(-n + 81) {
  border-bottom-width: 2px;
  border-bottom-color: #808080;
}

/* the input for the value of each cell (i.e. 1-9 or empty for standard sudoku*/
.sudoku-board-cell input {
  background: none;
  font-size: 19.2px;
  font-size: 1.2rem;
  color:#fff;
  text-align: center;
  width: 2em;
  max-width: 100%;
  height: 2em;
  border: 0;

  position: relative;
  z-index: 1; /*on top of candidates*/
}

/*highlight new input in board cell*/
.sudoku-board-cell .highlight-val {
  color: rgb(217, 221, 0);
}
/*highligt incorrect input*/
.sudoku-board-cell .board-cell--error {
  background: #d00;
  color: #eee;
}
/*wrapper that hold the candidates for each cell*/
.sudoku-board-cell .candidates {
  display: none; /*hidden by default*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.75em; /*1/3 /1.13 out of the 2*1.2em cell height*/
  letter-spacing: -0.5px;
  font-family: monospace, sans-serif;

  /*use as justify grid*/
  line-height: 0;
  text-align: justify;
}
.sudoku-board .candidates:after {
  content: "";
  display: inline-block;
  width: 100%;
}
/* when board cells start to get narrower because of small screen,
			reduce letter spacing for candidates to make them still fit*/
@media (max-width: 23em) {
  .sudoku-board .candidates {
    letter-spacing: -2px;
  }
}
.showCandidates .candidates {
  display: block;
}

/*each candidate in each cell is wrapped in a div*/
.sudoku-board .candidates div {
  display: inline-block;
  width: 20%;
  line-height: 1.13;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}
/*.candidates div*/
.candidate--highlight {
  background-color: yellow;
}
/*.candidates div*/
.candidate--to-remove {
  background-color: red;
  color: white;
}
.timer {
  position: absolute;
  top: 0;
  right: 1vw;
  color: #fff;
  padding: 1rem;
  background: rgb(138, 152, 231);
}

.heading {
  font-family: "AudioWide";
  position: absolute;
  top: 0;
  left: 0;	
  padding: 1rem;
  font-size: 2.5rem;
  text-align: center;
   font-weight: bold;
   
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
	from {
	 color: #fff;
   text-shadow: 0 0 10px #00ff55, 0 0 20px #00ff22, 0 0 30px #ff5100, 0 0 40px #ff3c00, 0 0 50px #00ff15, 0 0 60px #00ff0d, 0 0 70px #ff0000, 0 0 90px #ffd000;
 }
 
 to {
	color: gray;
   text-shadow: 0 0 20px #ff5100, 0 0 30px #ff6600, 0 0 40px #ff6600, 0 0 50px #ff3c00, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #ff3c00, 0 1 90px #ff0000;
 }
}
footer {
  text-align: center;
}
footer p {
  font-family: "AudioWide";
  position: absolute;
  bottom: 0;
  left: 40%;
}
.hidden {
  display: none !important;
}
.modes {
  margin-top:30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.wrap {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modes .btn {
  padding: 0.9rem 1.3rem;
  margin: 2rem;
}
.side_hoja {
  /* transform: translateX(-50%); */
  margin-top: 10vh;
  left: 0;
  /* transform:translateY(0) ; */
}

.formdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  margin: 3rem;
}
.formdd input {
  padding: 0.2rem;
  background: rgb(245, 245, 245);
  border-radius: 0.5rem;
}
.formdd button {
  border: none;
  background: rgb(90, 47, 190);
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
}

.google-sign-in img {
  width: 40px;
  height: 40px;
}
.formdd button:hover {
  border: solid 1px rgb(90, 47, 190);
  background-color: white;
  color: rgb(90, 47, 190);
  transition: 0.5s;
}
.side_hoja_parli {
  transform: translateX(250%) translateY(0);
}
.hidden2 {
  display: none !important;
}

.hidden22 {
  display: none !important;
}
.login_form {
  position: absolute;
  left: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  align-items: center;
  grid-gap: 1.5rem;
  transition: 0.5s;
}
.line {
  width: 200px;
  height: 2px;

  background-color: #80808093;
}

.video-grid {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
video {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #333;
  object-fit: cover;
  display: flex;
  justify-content: baseline;
  align-items: center;
  grid-gap: 0.3rem;
  padding: 0.2rem;
  margin: 1rem;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout {
  position: absolute;
  bottom: 0;
  right: 0;
}
.loader {
  font-size: 3rem;
  position: absolute;
  font-size: 3rem;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  animation: glow 2s ease-in-out infinite alternate;
}
.ready_btn {
  position: absolute;
  top: 40vh;
  left: 40vw;
}
.notification {
  position: absolute;
  bottom: 0;
  z-index: 10000;
  right: 0;
  padding: 1rem;
  -webkit-box-shadow: -8px 2px 27px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -8px 2px 27px -5px rgba(0, 0, 0, 0.5);
  box-shadow: -8px 2px 27px -5px rgba(0, 0, 0, 0.5);
}
.disappear {
  animation: vanish 6s forwards;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.disappear2 {
  animation: vanish 0.5s forwards;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
}
.icons img {
  padding: 0.3rem;
  border-radius: 50%;
  border: #333;
  height: 30px;
}
#sudoku2 {
  position: absolute;
  transform: translateX(100%) translateY(30%);
}
button {
  font-style: bold;
  font-weight: 900;
  transition: 0.5s;
  padding: 1rem 1rem;
  border: none;
  background: none;
  margin:1rem!important;
  --webkit-box-reflect: below;
}
.practiceMode {
  color: #22cf3f;
  border:1px solid #22cf3f;
}
.practiceMode:hover {
  background: #2a8f3b;
  color: #fff;
  box-shadow: 0 0 5px #2a8f3b, 0 0 25px #2a8f3b, 0 0 50px #2a8f3b,
    0 0 200px #2a8f3b !important;
}
.competitiveMode{
  border:1px solid rgb(214, 30, 30);
  color:  rgb(214, 30, 30);
}
.competitiveMode:hover {
  background: rgb(151, 10, 10);
  color: #fff;
  box-shadow: 0 0 5px rgb(151, 10, 10), 0 0 25px rgb(151, 10, 10), 0 0 50px rgb(151, 10, 10),
    0 0 200px rgb(151, 10, 10) !important;
}

.logout{
  border:1px solid rgb(214, 30, 30);
  color:  rgb(214, 30, 30);
}
.logout:hover {
  background: rgb(151, 10, 10);
  color: #fff;
  box-shadow: 0 0 5px rgb(151, 10, 10), 0 0 25px rgb(151, 10, 10), 0 0 50px rgb(151, 10, 10),
    0 0 200px rgb(151, 10, 10) !important;
}

.noob {
  color: #1d21ff;
  border:1px solid #1014ff;
  
}
.noob:hover {
  background: #2c2ea1;
  color: #fff;
  box-shadow: 0 0 5px #2c2ea1, 0 0 25px #2c2ea1, 0 0 50px #2c2ea1,
    0 0 200px #2c2ea1 !important;
}

.pro {
  color: #d6ff1d;
  border:1px solid #d6ff1d;
  
}
.pro:hover {
  background: #d6ff1d;
  color: #fff;
  box-shadow: 0 0 5px #d6ff1d, 0 0 25px #d6ff1d, 0 0 50px #d6ff1d,
    0 0 200px #d6ff1d !important;
}

.mastermind {
  color: #1dffe1;
  border:1px solid #1dffe1;
  
}
.mastermind:hover {
  background: #1dffe1;
  color: #fff;
  box-shadow: 0 0 5px #1dffe1, 0 0 25px #1dffe1, 0 0 50px #1dffe1,
    0 0 200px #1dffe1 !important;
}
.intermediate {
  color: #ac1dff;
  border:1px solid #ff1dd9;
  
}
.intermediate:hover {
  background: #ff1dd9;
  color: #fff;
  box-shadow: 0 0 5px #ff1dd9, 0 0 25px #ff1dd9, 0 0 50px #ff1dd9,
    0 0 200px #ff1dd9 !important;
}

.join_room {
  color: #30ff1d;
  border:1px solid #2a8f3b;
  
}
.join_room:hover {
  background: #2a8f3b;
  color: #fff;
  box-shadow: 0 0 5px #2a8f3b, 0 0 25px #2a8f3b, 0 0 50px #2a8f3b,
    0 0 200px #2a8f3b !important;
}

.create_one {
  color: #181aaf;
  border:1px solid #181aaf;
  
}
.create_one:hover {
  background: #181aaf;
  color: #fff;
  box-shadow: 0 0 5px #181aaf, 0 0 25px #181aaf, 0 0 50px #181aaf,
    0 0 200px #181aaf !important;
}
.js-solve-step-btn{
  padding:0.3rem;
  color: #d8d8d8;
  border:1px solid #d8d8d8; 
}

.js-solve-step-btn:hover {
  background: #d8d8d8;
  color: #000;
  box-shadow: 0 0 5px #d8d8d8, 0 0 5px #d8d8d8, 0 0 25px #d8d8d8,
    0 0 200px #d8d8d8 !important;
}
.js-clear-board-btn{
  padding:0.3rem;
  color: #d8d8d8;
  border:1px solid #d8d8d8; 
}

.js-clear-board-btn:hover {
  background: #d8d8d8;
  color: #000;
  box-shadow: 0 0 5px #d8d8d8, 0 0 5px #d8d8d8, 0 0 25px #d8d8d8,
    0 0 200px #d8d8d8 !important;
}
.js-solve-all-btn{
  padding:0.3rem;
  color: #d8d8d8;
  border:1px solid #d8d8d8; 
 
}
.js-solve-all-btn:hover {
  background: #d8d8d8;
  color: #000;
  box-shadow: 0 0 5px #d8d8d8, 0 0 5px #d8d8d8, 0 0 25px #d8d8d8,
    0 0 200px #d8d8d8 !important;
}
.ready_btn{
  color: #1db100;
  border:1px solid #1db100; 
 
}
.ready_btn:hover {
  background: #1db100;
  color: #000;
  box-shadow: 0 0 5px #1db100, 0 0 5px #1db100, 0 0 25px #1db100,
    0 0 200px #1db100 !important;
}

.logout{
  color: #b10000;
  border:1px solid #b10000; 
 
}
.logout:hover {
  background: #b10000;
  color: #000;
  box-shadow: 0 0 5px #b10000, 0 0 5px #b10000, 0 0 25px #b10000,
    0 0 200px #b10000 !important;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  box-shadow: 0 0 5px #181aaf, 0 0 25px #181aaf, 0 0 50px #181aaf, 0 0 200px #1db100 !important;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #181aaf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 17, 255);
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  transition: 0.5s;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  color:#000;
  width: 50%!important; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}